window#osd-container {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 24px;
    padding: 20px;
    margin: 24px;
    box-shadow: 0 4px 12px rgba(17, 17, 27, 0.7);
}

trough {
    background-color: #181825;
    border-radius: 99px;
    border: none;
    min-height: 10px;
}

progress {
    background-image: linear-gradient(to right, #cba6f7, #89b4fa);
    border-radius: 99px;
    border: none;
    min-height: 10px;
}

label {
    color: #cdd6f4;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 8px;
}

image {
    color: #cba6f7;
    -gtk-icon-style: symbolic;
}
